production.settings.json
settings.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!tools/cli/settings.json
node_modules/
npm-debug.log
database
npm-debug.log*
deploy/
dump
simple-io-plugin64.dll
.cache
build
