production.settings.json
settings.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!tools/cli/settings.json
node_modules/
npm-debug.log
npm-debug.log*
deploy/
dump
.cache
build
.next
yarn-error.log
dist